// links
$nav-link-color: $black;
$nav-link-active-color: $orange;
$nav-link-fz: $small-fz;
$nav-link-lh: $extra-big-lh;

// headings
$heading-primary-color: $green;
$heading-secondary-color: $grey;
$heading-tertiary-color: $orange;
$heading-primary-fz: $big-fz;
$heading-secondary-fz: $extra-big-fz;
$heading-primary-lh: $medium-lh;
$heading-secondary-lh: $extra-big-lh;

// text
$text-color: $grey;
$text-fz: $medium-fz;
$text-lh: $big-lh;

// btn-link
$btn-link-color: $black;
$btn-link-fz: $small-fz;
$btn-link-lh: $ex-small-lh;

// btn
$btn-color: $orange;
$btn-fz: $medium-fz;
$btn-lh: $medium-lh;

/* card*/
// card-heading
$card-heading-color: $orange;
$card-heading-fz: $medium-fz;
$card-heading-lh: $ex-small-lh;
// card-text
$card-text-color: $lightgrey;
$card-text-fz: $small-fz;
$card-text-lh: $ex-small-lh;

// price
$price-drop-down-color: $black;
$price-drop-down-fz: $medium-fz;
$price-drop-down-lh: $ex-small-lh;

// footer
$footer-color: $black;
$footer-fz: $medium-fz;
$footer-lh: $extra-big-lh;
