// colors
$green: #499a18;
$orange: #e06733;
$lightgrey: #717171;
$grey: #636060;
$light: #edf2ec;
$black: #010201;

// font-size
$extra-big-fz: 45px;
$big-fz: 40px;
$medium-fz: 20px;
$small-fz: 16px;

// font-family
$inika: Inika;
$inter: Inter;

// line-height
$extra-big-lh: 50px;
$big-lh: 35px;
$medium-lh: normal;
$small-lh: 30px;
$ex-small-lh: 20px;

// font-weight
$regular-fw: 400;
$bold-fw: 700;
