.header {
  padding: 42px 0;
  font-family: $inika, serif;
  background-color: $light;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: baseline;
    align-self: center;
    font-family: Inika, serif;
    font-size: 16px;
    &::before {
      display: block;
      @include heightWidthPx(20, 20);
      content: "";
      @include bgImage("../assets/img/01_logo.png");
    }
  }
}
